{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

{% comment %}
variables passed in: 
entries - contains all the .md files in the directory
pages - temp variable to see how to display the .md files
{% endcomment %}

    <ul>
        {% for entry in entries %}
{% comment %}
this line worked as a hard coded link the the entry.html file
            <li><a href="entry">{{entry}}</a></li>
{% endcomment %}
            <li><a href={% url 'entry' title=entry %}>{{entry}}</a></li>
        {% endfor %}
        
    </ul>

{% endblock %}